
<mat-card>
    <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Digite o Id</mat-label>
        <input matInput type="text" ngModel name="id" #idInput>
        <button
            *ngIf="idInput.value"
            matSuffix
            mat-icon-button
            (click)="idInput.value=''">

            <mat-icon>close</mat-icon>

        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Título</mat-label>
        <input matInput type="text" ngModel name="titulo" #tituloInput>
        <button
            *ngIf="tituloInput.value"
            matSuffix
            mat-icon-button
            (click)="tituloInput.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Autor</mat-label>
        <input matInput type="text" ngModel name="autor" #autorInput>
        <button
            *ngIf="autorInput.value"
            matSuffix
            mat-icon-button
            (click)="autorInput.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Digite o Numero de Páginas</mat-label>
      <input matInput type="text" ngModel name="numero_paginas" #numeroPagInput>
      <button
          *ngIf="numeroPagInput.value"
          matSuffix
          mat-icon-button
          (click)="numeroPagInput.value=''">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>

    <button color="primary" mat-raised-button >Inserir livro</button>
  </form>
</mat-card>
