<mat-card>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Id</mat-label>
        <input matInput type="text" [(ngModel)]="id">
        <button
            *ngIf="id"
            matSuffix
            mat-icon-button
            (click)="id=0">

            <mat-icon>close</mat-icon>

        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Título</mat-label>
        <input matInput type="text" [(ngModel)]="titulo">
        <button
            *ngIf="titulo"
            matSuffix
            mat-icon-button
            (click)="titulo=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Autor</mat-label>
        <input matInput type="text" [(ngModel)]="autor">
        <button
            *ngIf="autor"
            matSuffix
            mat-icon-button
            (click)="autor=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Digite o Numero de Páginas</mat-label>
      <input matInput type="text" [(ngModel)]="numero_paginas">
      <button
          *ngIf="numero_paginas"
          matSuffix
          mat-icon-button
          (click)="numero_paginas=0">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>

    <button color="primary" mat-raised-button (click)="onAdicionarLivro()">Inserir livro</button>

</mat-card>
